.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
.producto-card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    border-radius: 5px;
}
.producto-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.producto-card img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.producto-card h3 {
    font-size: 24px;
    padding: 10px;
    margin-top: 0;
}
.producto-card p {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 0;
}
.producto-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}
.producto-card button:hover {
    background-color: #3e8e41;
}